-if logged_in? && session[:voted] && ! session[:voted].include?(t.id)
  %form.voteform{:action=>"/discussions/vote/#{t.id}", :method=>"post"}
    %input.vote{:type=>"submit", :value=>"&and;"}/
%a.title{:href=>t.url}=t.title
%p.info 
  ="#{t.points} puntos, por <a href='/users/#{t.user.username}'>#{t.user.username}</a>"
  ="agregada el #{t.created_at.strftime(" %d/%m/%Y  a las %I:%M%p")}"
  %a{:href=>"/discussions/#{t.id}"}
    =t.comments.count > 0 ? " #{t.comments.count} comentarios" : "discutir"
